:root{
    --ColorPrimario: #00ffaa ;
    --Bgcolor: #323236;
    --BgcolorComplement:#474747c9;
    --BlancoTransparenteBorde:#ffffffb7;
    --FondoTransparente:#ffffff1c;
    --BgColorDarkTransparent:#2929293a;
    --letra:#999;
}
body{
   
    overflow-x: hidden;
}


body {
    background-color: var(--Bgcolor);
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  /*--------------------------Nav--------------------------------*/ 
  nav {
    background-color: transparent;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1rem;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: 0%;
    transition: opacity 2.5s;
    
  }
  nav.show{
    opacity: 100%;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    color: var(--letra);
    text-decoration: none;
    font-size: 18px;
    transition: transform, color;
    transition-duration: 0.5s;
  }
  
  nav a:hover {
    color: #fff;
    transform: scale(2);
  }
 /*--------------------------Sec1--------------------------------*/

 
 .Container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 35rem;
    width: auto;
    max-width: 800px;
    align-items: center;
    margin: 10rem auto;
    padding: 2rem;
    background-color: var(--FondoTransparente) ;
    border: solid 1px var(--BlancoTransparenteBorde);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    opacity: 0%;
    transition: opacity 1.5s;
  }

.Container.show{
  opacity: 100%;
}

  .Switch{
    position: relative;
    display: flex;
    flex-direction: row;
    color: var(--letra);
    
  }
  .Switch h3 {
    font-size: 18px;
    margin: 0.5rem;
    transition: color;
    transition-duration: 0.5s;
    padding: 0.1rem;
    transition: opacity 2.5s;
  }
  
  .Switch h3:hover{
   
   color: #fff;
  }

  .Switch h3 .show{
    opacity: 100%;
  }


  h1 {
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    transition: opacity 2.5s;
  }
  
  .h14{
    opacity: 0%;
    transition: opacity 2s;
  }
  .h16{
    opacity: 0%;
    transition: opacity 2.5s;
  }
  .Encrypth1{
    opacity: 0%;
    transition: opacity 3s;
  }
  .h14.show{
    opacity: 100%;
  }
  .h16.show{
    opacity: 100%;
  }
  .Encrypth1.show{
    opacity: 100%;
  }
  
  
  textarea {
    width: 40rem;
    height: 8rem;
    max-width: 100%;
    max-height: 200px;
    background-color: transparent;
    padding: 1rem;
    margin-top: 3rem;
    border: 1rem;
    resize: none;
    display: flex;
    border-radius: 0px;
    font-size: 17pt;
    border: 0;
    border-bottom: 1px solid #ccc;
    outline-style: none;
    text-decoration: none;
    color: #fff;
    background-color: var(--BgColorDarkTransparent);
    transition: opacity 2.5s;
    
  }
  textarea::placeholder {
      text-align: center;
     margin: auto;
     line-height: 5;
      font-size: 17pt;
      
      }
  button {
    position: relative;
    padding: 0.7rem 1.2rem;
    margin: 2rem;
    background-color: #333;
    color: #fff;
    top: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    
  }
  
  button:hover {
    background-color: #555;
  
  }
  
  #texto-encriptado {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  
